<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Second.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Second.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=PEYMAN\SQL2014;Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Second.Properties.Settings.conString" connectionString="Data Source=185.159.152.5;Initial Catalog=youshita_Test;Persist Security Info=True;User ID=youshita_co;Password=P@hn1395"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Second.Properties.Settings>
            <setting name="Second_PharmalogyfacultyWebService_PharmalogyWebService"
                serializeAs="String">
                <value>http://pharmalogyfaculty.youshitaco.ir/PharmalogyWebService.asmx</value>
            </setting>
        </Second.Properties.Settings>
    </applicationSettings>
</configuration>